body {
  margin: 0;
  padding: 0;
}

@keyframes slide-in-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes ease-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 
.vertical-line {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 100%;
  background-color: grey;
  animation: change-color 0.5s linear infinite alternate;
}@keyframes change-color-grey-to-white {
  0% {
    background-color: grey;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: grey;
  }
}

@keyframes change-color-white-to-grey {
  0% {
    background-color: white;
  }
  50% {
    background-color: grey;
  }
  100% {
    background-color: white;
  }
}

.vertical-line-grey-to-white {
  animation: change-color-grey-to-white 3s linear infinite;
}

.vertical-line-white-to-grey {
  animation: change-color-white-to-grey 3s linear infinite;
} */
